html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #333333;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

p {
  margin: 0;
}

main {
  display: grid;
  padding: 1rem;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);

  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;

  .messaging,
  .message-list {
    display: flex;
    flex-direction: column;

    .message-list {
      flex-grow: 1;

      .message {
        display: flex;
        padding: 0.3rem 0;
        height: max-content;

        > * {
          padding: 0.2rem;
        }
      }
    }
  }
}